body {
    width: 99vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

/*header styling start*/
header {
    width: 97.5%;
    background-color: #24292f;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 24px;
}

header .logo>a>i {
    font-size: 32px;
    color: #ffffff;
    height: 32px;
    margin-right: 20px;
}

header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 93%;
    color: #ffffff;
}

header .navbar .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

header .navbar .search>input {
    background-color: #24292f;
    border: 1px solid #57606a;
    border-radius: 5px;
    height: 28px;
    width: 272px;
    vertical-align: middle;
}

header .navbar .search>div {
    color: #57606a;
    border: 1px solid #57606a;
    width: 15px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: px;
    left: -24px;
}

header .navbar .search>input::placeholder {
    padding: 5px 12px;
    line-height: 20px;
    font-weight: 545;
    font-size: 14px;
    color: #8b99a8;
}

header .navbar .navigation_links {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
}

header .navbar .navigation_links a {
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 14px;
}

header .navbar .navigation_links a:hover {
    color: #afb8c1;
}

.navbar .header-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .header-items a:hover {
    color: #afb8c1;
}

.navbar .header-items #notification {
    text-align: center;
}

.navbar .header-items #notification>i {
    height: 16px;
    width: 16px;
    margin-right: 16px;
    color: #ffffff;
}

.navbar .header-items #plus-drop-down {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .header-items #plus-drop-down>i {
    color: #ffffff;
    margin-right: 5px;
}

.navbar .header-items #avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .header-items #avatar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

.navbar .header-items #avatar>i {
    color: #ffffff;
}

/*header styling end*/

/*container styling start*/
.repo-container {
    width: 97.5%;
    background-color: #f6f8fa;
    padding-top: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #24292f;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid #d0d7de;
}

.repo-container .repo_title-notitfications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.repo-container .repo_title-notitfications .repo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.repo-container .repo_title-notitfications .repo-title>i {
    color: #24292f;
    margin-right: 5px;
}

.repo-container .repo_title-notitfications .repo {
    color: #57606a;
    margin: 0px 4px;
    align-self: stretch;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.repo-container .repo_title-notitfications .repo a {
    color: #0969da;
    font-weight: 400;
    font-size: 20px;
    margin-right: 4px;
}

.repo-container .repo_title-notitfications .repo a:nth-child(2) {
    font-weight: 600;
}

.repo-container .repo_title-notitfications .repo a:hover {
    text-decoration: underline;
}

.repo-container .repo_title-notitfications .repo-title .status {
    color: #57606a;
    border: 0.5px solid #d0d7de;
    padding: 0px 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    margin-right: 4px;
}

.repo-container .repo_title-notitfications .repo-notification {
    display: flex;
    flex-direction: row;
}

.repo-container .repo_title-notitfications .repo-notification .repo-details {
    border: 0.5px solid #d0d7de;
    display: flex;
    flex-direction: row;
    color: #24292f;
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
    margin-right: 5px;
    align-items: center;
}

.repo-container .repo_title-notitfications .repo-notification .repo-details>i,
span {
    padding: 2px 8px;
}

.repo-container .repo_title-notitfications .repo-notification .repo-details>span {
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 30px;
    margin: 0px 5px;
}

.repo-container .repo_title-notitfications .repo-notification .repo-details .border {
    border-left: 0.5px solid #d0d7de;
    padding: 8px;
}

.repo-container .repo-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
}

.repo-container .repo-navigation .repo-nav-btn {
    color: #24292f;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    margin: 0px 5px;
    height: 45px;
    box-sizing: border-box;
}

.repo-container .repo-navigation .repo-nav-btn:hover {
    border-bottom: 2px solid #fd8c73;
}

.repo-container .repo-navigation .repo-nav-btn>i {
    margin-right: 5px;
}

.repo-container .repo-navigation .repo-nav-btn>span {
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 30px;
    margin: 0px 5px;
}

/*container styling end*/

/*content section styling start*/
.content {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.content .items-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 64%;
}

.content .items-btn .items {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.content .items-btn .items .repo-nav-btn {
    color: #24292f;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
}

.content .items-btn .items .repo-nav-btn:hover {
    background-color: #f6f8fa;
}

.content .items-btn .items .repo-nav-btn:first-child {
    border: 0.25px solid #d0d7de;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.content .items-btn .items .repo-nav-btn:last-child {
    border: 0.25px solid #d0d7de;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.content .items-btn .items .repo-nav-btn>i {
    margin-right: 5px;
}

.content .items-btn .items .repo-nav-btn>span {
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 30px;
    margin: 0px 5px;
}

.content .items-btn .btn button {
    color: #ffffff;
    background-color: #2da44e;
    border: 0.5px solid rgba(27, 31, 36, 0.15);
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.content .items-btn .btn button:hover {
    background-color: #2c974b;
}

.content .tasks {
    width: 63%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 0.5px solid #d0d7de;
    border-radius: 6px;
}

.content .tasks .op-cl {
    background-color: #f6f8fa;
    border-bottom: 0.5px solid #d0d7de;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content .tasks .op-cl a {
    font-size: 14px;
    line-height: 1.5;
    color: #57606a;
    font-weight: 500;
    margin-right: 16px;
}

.content .tasks .op-cl>a:first-child {
    font-weight: 600;
    color: #24292f;
}

.content .tasks .task {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid #d0d7de;
    cursor: grab;
}

.content .tasks .task:hover {
    background-color: #f6f8fa;
}

.content .tasks .task>i {
    color: #2da44e;
    padding-top: 18px;
    margin-left: 20px;
    font-size: 20px;
}

.content .tasks .task .rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 0px;

}

.content .tasks .task .rows .row_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 16px;
}

.content .tasks .task .rows .row_1 p {
    font-weight: 600;
    font-size: 16px;
    color: #24292f;
    line-height: 1.5;
    margin: 0 5px;
}

.content .tasks .task .rows .row_1 p:hover {
    color: #0969da;
}

.content .tasks .task .rows .row_1 a {
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    color: #ffffff;
    margin: 0 4px;
}

.content .tasks .task .rows .row_1 .red {
    background-color: rgb(252, 41, 41);
}

.content .tasks .task .rows .row_1 .green {
    background-color: #009800;
}

.content .tasks .task .rows .row_1 .blue {
    background-color: #0d7bde;
}

.content .tasks .task .rows .row_1 .blue-darker {
    background-color: #0052cc;
}

.content .tasks .task .rows .row_1 .blue-dark {
    background-color: rgb(80, 107, 148);
}

.content .tasks .task .rows .row_1 .light-blue {
    background-color: rgb(199, 222, 248);
    color: #24292f;
}

.content .tasks .task .rows .row_1 .vif-blue {
    background-color: rgb(0, 82, 204);
}

.content .tasks .task .rows .row_1 .yellow {
    background-color: rgb(254, 242, 192);
    color: #24292f;
}

.content .tasks .task .rows .row_1 .purple {
    background-color: rgb(199, 222, 248);
    color: #24292f;
}

.content .tasks .task .rows .row_1 .pink {
    background-color: #cc317c;
}

.content .tasks .task .rows .row_1 .dark-pink {
    background-color: #990099;
}

.content .tasks .task .rows .row_1 .dark-green {
    background-color: rgb(0, 107, 117);
}

.content .tasks .task .rows .row_1>p>span {
    padding: 2px 4px;
    font-size: .9em;
    font-weight: 600;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    color: #24292f;
}

.content .tasks .task .rows .row_2 p {
    font-size: 12px;
    font-weight: 500;
    color: #57606a;
    padding: 0px 16px 4px 16px;
    margin: 0 5px;
}

.content .tasks .task .rows .row_2 p .pseudo:hover {
    color: #0969da;
}

.content .tasks .task .not-treated>i {
    display: none;
    color: #2da44e;
    padding-top: 5px;
    margin-left: 20px;
    font-size: 20px;

}

.content .tasks .task .treated>i {
    display: block;
}

/*content section styling done*/

/*footer styling done*/
footer {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 25px;
}

.foot {
    width: 65%;
    border-top: 0.5px solid #d0d7de;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
    font-size: 12px;
    padding-bottom: 8px;
    color: #57606a;
}

footer .rights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 80px;
}

footer .foot .rights>a>i {
    color: #6e7781;
    font-size: 24px;
    margin-right: 15px;
}

footer .foot .rights>a>i:hover {
    color: #57606a;
}

footer .more-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

footer .more-links>a {
    color: #0969da;
    margin-right: 40px;
}

footer .more-links>a:hover {
    text-decoration: underline;
}

/*footer styling done*/